<!DOCTYPE html>
<html lang="en">

<head>

  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Web Components: Forms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  Styles  -->
  <link href="{{ 'css/main.css' | url }}" rel="stylesheet">
</head>

<body>

  <!-- wrapper -->
  <div class="wrapper">
    <div class="card">
      <div class="card__segment">
        <form>
          {% block content %}{% endblock %}
        </form>
      </div>
    </div>
  </div>
</body>

</html>