/* Typography
-------------------------------------------------- */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-feature-settings: "kern", 1;
  font-kerning: normal;
  text-rendering: optimizelegibility;
}